bin/
obj/
.github/
.vscode/
*.ps1
*.log
*.env
*.crt
*.key
*.pem
*.pfx
*.cert 
*.p12
*.db
appsettings.*.json
logs/
wwwroot/logs/
.dmp
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
TestResults/
coverage/
*.coverage
*.nupkg
packages/
.DS_Store
Thumbs.db
*.code-workspace
*.ps1
*.sh
utils/

# Include
!/images/*.png
