<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <!-- Enforce Windows authentication and disable anonymous -->
    <security>
      <authentication>
        <windowsAuthentication enabled="true" />
        <anonymousAuthentication enabled="false" />
      </authentication>
    </security>

    <!-- Route everything to the ASP.NET Core module -->
    <handlers>
      <add name="aspNetCore"
           path="*"
           verb="*"
           modules="AspNetCoreModuleV2"
           resourceType="Unspecified"
           preCondition="integratedMode" />
    </handlers>

    <!-- Launch the .NET app in-process -->
    <aspNetCore processPath="dotnet"
                arguments=".\SolidFireGateway.dll"
                stdoutLogEnabled="true"
                hostingModel="inprocess" 
                stdoutLogFile=".\logs\stdout" />

  </system.webServer>
</configuration>